<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>


SINA

{% for item in categories %}
    <h1>{{item.name}}</h1>
    <h2>item.top_product_name: {{item.top_product_name}}</h2>
    <h2>item.top_product_price: {{item.top_product_price}}</h2>
{% endfor %}

{{most_expensive_product}}

</body>
</html>